[submodule "ProjectTox-Core"]
	path = ProjectTox-Core
	url = https://github.com/irungentoo/ProjectTox-Core.git
[submodule "MessagesTableViewController"]
	path = MessagesTableViewController
	url = https://github.com/jessesquires/MessagesTableViewController.git
[submodule "JSQSystemSoundPlayer"]
	path = JSQSystemSoundPlayer
	url = https://github.com/jessesquires/JSQSystemSoundPlayer.git
[submodule "JSQSystemSoundPlayer-submodule"]
	path = JSQSystemSoundPlayer-submodule
	url = https://github.com/jessesquires/JSQSystemSoundPlayer.git
[submodule "Submodules/ObjQREncoder"]
	path = Submodules/ObjQREncoder
	url = https://github.com/wiruzx/ObjQREncoder.git
