[submodule "Submodules/MessagesTableViewController"]
	path = Submodules/MessagesTableViewController
	url = https://github.com/wiruzx/MessagesTableViewController.git
[submodule "Submodules/JSQSystemSoundPlayer-submodule"]
	path = Submodules/JSQSystemSoundPlayer-submodule
	url = https://github.com/jessesquires/JSQSystemSoundPlayer.git
[submodule "Submodules/ObjQREncoder"]
	path = Submodules/ObjQREncoder
	url = https://github.com/wiruzx/ObjQREncoder.git
[submodule "Submodules/TWMessageBarManager"]
	path = Submodules/TWMessageBarManager
	url = https://github.com/terryworona/TWMessageBarManager.git
[submodule "Submodules/ZBarSDK"]
	path = Submodules/ZBarSDK
	url = https://github.com/wiruzx/zbarSDK.git
[submodule "Submodules/ProjectTox-Core/ProjectTox-Core"]
	path = Submodules/ProjectTox-Core/ProjectTox-Core
	url = https://github.com/irungentoo/ProjectTox-Core.git
[submodule "Submodules/ProjectTox-Core/sodium/libsodium-ios"]
	path = Submodules/ProjectTox-Core/sodium/libsodium-ios
	url = https://github.com/mochtu/libsodium-ios.git
